<footer class="border-t shadow-md p-3 w-full max-h-20 fixed bottom-0 z-50 bg-white">
    <div class="flex items-center justify-between max-w-screen-2xl mx-auto">
        <div class="text-sm text-gray-600">
            Wellington Zambelli
        </div>
        
        <nav class="flex space-x-4"></nav>

        <div class="flex space-x-3">
            <a href="https://www.linkedin.com/in/wellington-fernandes-zambelli-80b75a34/" target="_blank" aria-label="LinkedIn">
                <img src="images/linkedin.svg" alt="LinkedIn" class="h-8 w-8" />
            </a>
        </div>
    </div>
</footer>
